<!-- 
    Name: Fatima Tuz Zahra
    ID: 301347439
    Date: Oct 03, 2023
 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/portfolio.css" />
  </head>
  <body>
    <h3><%=title%></h3>
    <%- include('./partials/header.ejs'); %> <%- include(page + ".ejs"); %> <%-
    include('./partials/footer.ejs'); %>
  </body>
</html>
